In [2]:
import numpy as np
import pandas as pd
from faker import Faker
from faker.providers import address

In [5]:
names_female = pd.read_csv('names_female.csv')
names_male = pd.read_csv('names_male.csv')
last_names = pd.read_csv('last_names.csv',names=['last names'],encoding='latin')

In [46]:
df = pd.concat([names_female[['Name']],names_female[['Name']]])

In [44]:
array = np.array(pd.concat([names_female[['Name']],names_female[['Name']]]))[:,0]

In [52]:
df[df.duplicated()]

             Name
3        MARGARET
4            MARY
6        MARGARET
8            MARY
11        DOROTHY
...           ...
86383     VIVIANA
86384  WILHELMINA
86385        ZAIN
86386     ZARIYAH
86387        ZIYA

[166501 rows x 1 columns]

In [45]:
len(array)

172776

In [41]:
len(set(df.tolist()))

6275

In [6]:
last_names = [last_names['last names'][i].split(' ') for i in range(len(last_names))]
last_names = [last_names[i][1] for i in range(len(last_names))]

In [ ]:
np.random.choice(names_male['Name'])

In [ ]:
np.random.choice(names_female['Name'])

In [ ]:
np.random.choice(last_names)